.container {
  background-color: #80808014;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 15px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
@media (min-width: 768px) {
  .container {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 35%;
  }
}

.input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.button {
  text-transform: uppercase;
  font-weight: 600;
  outline: 0;
  background: #2758e7c9;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.error {
  color: red;
  margin: 5px;
}
