.form{
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.label{
    display: block;
    margin: 5px;
    color: rgb(47, 47, 53);
}
.input{
    margin-left: 30px;
    padding: 5px 10px;
    border: 1px solid rgb(143, 162, 188);
    background-color:rgb(196, 212, 255);
    border-radius: 5px;
}
.btn{
    color: rgb(74, 71, 255);
    background-color:rgb(196, 202, 255);
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgb(174, 143, 188);
    border-radius: 5px;
}