.list {
    width: 500px;
    list-style: none;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border: 1px solid rgb(143, 146, 188);

    margin: 2px;
}
.name {
    margin: 0;
}
.btn{
    color: rgb(197, 71, 255);
    background-color:rgb(238, 196, 255);
    padding: 10px 20px;
    border: 1px solid rgb(170, 143, 188);
    border-radius: 5px;
}